[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
requests = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
streamlit = "*"
openai = "*"
translatepy = "*"
googletrans = "*"

[dev-packages]

[requires]
python_version = "3.12"
